<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yarency.android.tastebreaker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TasteBreaker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LofiActivity"
            android:label="Lofi Artists" />
        <activity
            android:name=".RockActivity"
            android:label="Rock Artists" />
        <activity
            android:name=".HipHopActivity"
            android:label="HipHop Artists" />
        <activity
            android:name=".OldiesActivity"
            android:label="Oldies Artists"></activity>
        <activity android:name=".CatagoryListItem"></activity>
    </application>

</manifest>